body {
    background-color: #f9f9f9;
    color: #333;
}

body.dark-theme {
    background-color: #333;
    color: #f9f9f9;
}

body.dark-theme header {
    background-color: #1a237e;
}

body.dark-theme footer {
    background-color: #1a237e;
}

body.dark-theme a {
    color: #ffeb3b;
}


header {
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;
}

header a {
    color: #ffeb3b;
    text-decoration: none;
    margin: 0 10px;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

h2 {
    color: #3f51b5;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}