<section>
    <h2>Work Experience</h2>
    <div>
        <h3>Full-stack Developer Intern, Tezo</h3>
        <p><strong>Jan 2024 – Jul 2024</strong></p>
        <ul>
            <li>Developed a full-stack Employee Management Application using HTML, CSS, JavaScript, TypeScript, C#,
                .NET, APIs, and Angular, improving operational efficiency by 30%.</li>
            <li>Implemented role-based access control with JWT authentication for enhanced security and user management.
            </li>
        </ul>
    </div>

    <div>
        <h3>AWS DevOps Intern, Technical Hub</h3>
        <p><strong>Jul 2023 – Nov 2023</strong></p>
        <ul>
            <li>Gained hands-on experience with AWS Cloud, building scalable solutions.</li>
            <li>Developed a Movie Listing Website using NodeJS, MongoDB, ReactJS, leading to a 20% improvement in
                platform performance.</li>
        </ul>
    </div>
</section>